trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  serviceConnectionName: 'ARM'

steps:
- task: AzureKeyVault@1
  displayName: "Download key vault variables for Terraform"
  inputs:
    azureSubscription: $(serviceConnectionName)
    KeyVaultName: 'NOBS1'
    SecretsFilter: 'AKSClientId'
- task: AzureCLI@2
  inputs:
    azureSubscription: $(serviceConnectionName)
    scriptType: 'pscore'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az storage account create -n nobsstorageaccount1 -g NoBS -l centralus --sku Standard_LRS
      az storage container create --name tfstate --account-name nobsstorageaccount1
    
- task: TerraformTaskV1@0
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: $(serviceConnectionName)
    backendAzureRmResourceGroupName: 'NoBS'
    backendAzureRmStorageAccountName: 'nobsstorageaccount1'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'tf/terraform.tfstate'

- task: TerraformTaskV1@0
  inputs:
    provider: 'azurerm'
    command: 'apply'
    environmentServiceNameAzureRM: $(serviceConnectionName)